---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_filter: "0.5"
  overlay_image: /assets/images/origami-banner.png
  actions:
    - label: "Projects"
      url: "https://origami-games.github.io/projects/"
excerpt: 
intro:
  - excerpt: "Our first map, Artefact, is an RPG created in vanilla Minecraft. It takes place in a vibrant fantasy world with both sandbox and story gameplay. The map is not realistic or gritty, it’s fun for the sake of fun. The combat will make you feel like a badass and the story is full of interest not typically found in large-scale fantasy."
  
discord:
  - image_path: /assets/images/discord.png
    alt: "discord.png"
    title: "Community-Created"
    excerpt: 'Our maps are filled with community suggestions and feedback'
    url: "https://discord.io/origami"
    btn_label: "Join the Conversation"
    btn_class: "btn--primary"
performant_code:
  - image_path: /assets/images/code.png
    alt: "code.png"
    title: "Lightweight"
    excerpt: 'The code of each map is built with performance in mind'
    url: "https://github.com/origami-games"
    btn_label: "View"
    btn_class: "btn--primary"

artefact:
  - image_path: /assets/images/artefact-banner-feature-row-home.png
    alt: "artefact-banner-home.png"
    title: "Artefact"
    excerpt: 'An RPG created in vanilla Minecraft'
    url: "https://origami-games.github.io/artefact"
    btn_label: "Read more..."
    btn_class: "btn--primary"
launch:
  - image_path: /assets/images/launch/banner-feature-row-home.png
    alt: "launch/banner-feature-row-home.png"
    title: "Launch"
    excerpt: 'A space-themed survival data pack for Minecraft'
    url: "https://origami-games.github.io/launch"
    btn_label: "Read more..."
    btn_class: "btn--primary"
hulphbron-valley:
  - image_path: /assets/images/hulphbron-valley/banner-feature-row-home.png
    alt: "hulphbron-valley/banner-feature-row-home.png"
    title: "Hulphbron Valley"
    excerpt: 'A 2D survival and resource management game made in Minecraft'
    url: "https://origami-games.github.io/hulphbron-valley"
    btn_label: "Read more..."
    btn_class: "btn--primary"
---

{% include feature_row id="artefact" type="left" %}
{% include feature_row id="launch" type="right" %}

<iframe src="https://discordapp.com/widget?id=594411513457147904&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>  

<a href="https://www.patreon.com/bePatron?u=25303010" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
