---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-artefact-mountain.png
  caption: "Photo credit: [**razorsharp**](https://origami-games.github.io/team#razorsharp)"
  actions:
    - label: "<i class='fas fa-download'></i> Map Releases"
      url: "https://origami-games.github.io/releases/"
#    - label: "Discord"
#      url: "https://discord.gg/k7gRYYY"
excerpt: Innovative games, creatively
intro:
  - excerpt: "Our first map, Artefact, is an RPG created in vanilla Minecraft, for singleplayer. It takes place in a vibrant fantasy world with both sandbox and story gameplay. The map is not realistic or gritty, it’s fun for the sake of fun. The combat will make you feel like a badass and the story is full of interest not typically found in large-scale fantasy."
feature_row1:
  - image_path: /assets/images/unsplash-gallery-image-discord-chat.png
    alt: "unsplash-gallery-image-discord-chat.png"
    title: "Community-Created"
    excerpt: 'Our maps are filled with community suggestions and feedback'
    url: "https://discord.gg/k7gRYYY"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-code.png
    alt: "unsplash-gallery-image-code.png"
    title: "Lightweight"
    excerpt: 'The code of each map is built with performance in mind'
    url: "https://github.com/origami-games"
    btn_label: "Read More"
    btn_class: "btn--primary"
redirect_from:
  - /home/
---

{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="right" %}
