<hr class='lighter-background'>

<nav>
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
    {% if p.navigation_weight %}
        {% if p.url != '/releases' %}
        <a href='{{ p.url }}' {% if p.url == page.url %}style='font-weight: bold;' {% endif %}>{{ p.title }}</a>
        {% else %}
            <div class='dropdown'>
                <a href='/releases'><button class='dropbtn' {% if p.url == page.url %}style='font-weight: bold;' {% endif %}>Releases</button></a>
                <div class='dropdown-content'>
                    <a href='/launch'>Launch</a>
                    <a href='/quazi-modded'>Quazi-Modded</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% endfor %}
</nav>
